In [1]:
import pandas as pd
import pymysql

# Establish connection
myconnection = pymysql.connect(
    host='127.0.0.1',
    user='root',
    passwd='Sudha16@$',
    database='redbus'
)

# Read CSV file
df = pd.read_csv("C:/Users/SUDHA/Downloads/assam_bus_details.csv")

# Drop rows with missing values
df = df.dropna()

# Generate SQL column definitions from DataFrame dtypes
a = ",".join(
    f"`{i}` {j}".replace("float64", "FLOAT")
               .replace("category", "TEXT")
               .replace("int64", "INT")
               .replace("object", "TEXT")
               .replace("bool", "TEXT")
    for i, j in zip(df.columns, df.dtypes)
)

# Table name
table_name = "assam_bus_details"

# Create table
cursor = myconnection.cursor()
cursor.execute(f"CREATE TABLE IF NOT EXISTS {table_name} ({a})")

# Insert data into the table
for i in range(len(df)):
    placeholders = ", ".join(["%s"] * len(df.columns))
    columns = ", ".join([f"`{col}`" for col in df.columns])
    sql = f"INSERT INTO {table_name} ({columns}) VALUES ({placeholders})"
    cursor.execute(sql, tuple(df.iloc[i]))

myconnection.commit()

In [13]:
import pandas as pd
import pymysql

# Establish connection
myconnection = pymysql.connect(
    host='127.0.0.1',
    user='root',
    passwd='Sudha16@$',
    database='redbus'
)

# Read CSV file
df = pd.read_csv("C:/Users/SUDHA/Downloads/Bihar_busdetails.csv")

# Drop rows with missing values
df = df.dropna()

# Generate SQL column definitions from DataFrame dtypes
a = ",".join(
    f"`{i}` {j}".replace("float64", "FLOAT")
               .replace("category", "TEXT")
               .replace("int64", "INT")
               .replace("object", "TEXT")
               .replace("bool", "TEXT")
    for i, j in zip(df.columns, df.dtypes)
)

# Table name
table_name = "Bihar_busdetails"

# Create table
cursor = myconnection.cursor()
cursor.execute(f"CREATE TABLE IF NOT EXISTS {table_name} ({a})")

# Insert data into the table
for i in range(len(df)):
    placeholders = ", ".join(["%s"] * len(df.columns))
    columns = ", ".join([f"`{col}`" for col in df.columns])
    sql = f"INSERT INTO {table_name} ({columns}) VALUES ({placeholders})"
    cursor.execute(sql, tuple(df.iloc[i]))

myconnection.commit()

In [14]:
import pandas as pd
import pymysql

# Establish connection
myconnection = pymysql.connect(
    host='127.0.0.1',
    user='root',
    passwd='Sudha16@$',
    database='redbus'
)

# Read CSV file
df = pd.read_csv("C:/Users/SUDHA/Downloads/JAMMU_buses.csv")

# Drop rows with missing values
df = df.dropna()

# Generate SQL column definitions from DataFrame dtypes
a = ",".join(
    f"`{i}` {j}".replace("float64", "FLOAT")
               .replace("category", "TEXT")
               .replace("int64", "INT")
               .replace("object", "TEXT")
               .replace("bool", "TEXT")
    for i, j in zip(df.columns, df.dtypes)
)

# Table name
table_name = "JAMMU_buses"

# Create table
cursor = myconnection.cursor()
cursor.execute(f"CREATE TABLE IF NOT EXISTS {table_name} ({a})")

# Insert data into the table
for i in range(len(df)):
    placeholders = ", ".join(["%s"] * len(df.columns))
    columns = ", ".join([f"`{col}`" for col in df.columns])
    sql = f"INSERT INTO {table_name} ({columns}) VALUES ({placeholders})"
    cursor.execute(sql, tuple(df.iloc[i]))

myconnection.commit()

In [18]:
import pandas as pd
import pymysql

# Establish connection
myconnection = pymysql.connect(
    host='127.0.0.1',
    user='root',
    passwd='Sudha16@$',
    database='redbus'
)

# Read CSV file
df = pd.read_csv("C:/Users/SUDHA/Downloads/kerala_bus_details.csv")

# Drop rows with missing values
df = df.dropna()

# Generate SQL column definitions from DataFrame dtypes
a = ",".join(
    f"`{i}` {j}".replace("float64", "FLOAT")
               .replace("category", "TEXT")
               .replace("int64", "INT")
               .replace("object", "TEXT")
               .replace("bool", "TEXT")
    for i, j in zip(df.columns, df.dtypes)
)

# Table name
table_name = "kerala_bus_details"

# Create table
cursor = myconnection.cursor()
cursor.execute(f"CREATE TABLE IF NOT EXISTS {table_name} ({a})")

# Insert data into the table
for i in range(len(df)):
    placeholders = ", ".join(["%s"] * len(df.columns))
    columns = ", ".join([f"`{col}`" for col in df.columns])
    sql = f"INSERT INTO {table_name} ({columns}) VALUES ({placeholders})"
    cursor.execute(sql, tuple(df.iloc[i]))

myconnection.commit()

In [19]:
import pandas as pd
import pymysql

# Establish connection
myconnection = pymysql.connect(
    host='127.0.0.1',
    user='root',
    passwd='Sudha16@$',
    database='redbus'
)

# Read CSV file
df = pd.read_csv("C:/Users/SUDHA/Downloads/ktcl_bus_details.csv")

# Drop rows with missing values
df = df.dropna()

# Generate SQL column definitions from DataFrame dtypes
a = ",".join(
    f"`{i}` {j}".replace("float64", "FLOAT")
               .replace("category", "TEXT")
               .replace("int64", "INT")
               .replace("object", "TEXT")
               .replace("bool", "TEXT")
    for i, j in zip(df.columns, df.dtypes)
)

# Table name
table_name = "ktcl_bus_details"

# Create table
cursor = myconnection.cursor()
cursor.execute(f"CREATE TABLE IF NOT EXISTS {table_name} ({a})")

# Insert data into the table
for i in range(len(df)):
    placeholders = ", ".join(["%s"] * len(df.columns))
    columns = ", ".join([f"`{col}`" for col in df.columns])
    sql = f"INSERT INTO {table_name} ({columns}) VALUES ({placeholders})"
    cursor.execute(sql, tuple(df.iloc[i]))

myconnection.commit()

In [20]:
import pandas as pd
import pymysql

# Establish connection
myconnection = pymysql.connect(
    host='127.0.0.1',
    user='root',
    passwd='Sudha16@$',
    database='redbus'
)

# Read CSV file
df = pd.read_csv("C:/Users/SUDHA/Downloads/north_bengal_bus_details.csv")

# Drop rows with missing values
df = df.dropna()

# Generate SQL column definitions from DataFrame dtypes
a = ",".join(
    f"`{i}` {j}".replace("float64", "FLOAT")
               .replace("category", "TEXT")
               .replace("int64", "INT")
               .replace("object", "TEXT")
               .replace("bool", "TEXT")
    for i, j in zip(df.columns, df.dtypes)
)

# Table name
table_name = "north_bengal_bus_details"

# Create table
cursor = myconnection.cursor()
cursor.execute(f"CREATE TABLE IF NOT EXISTS {table_name} ({a})")

# Insert data into the table
for i in range(len(df)):
    placeholders = ", ".join(["%s"] * len(df.columns))
    columns = ", ".join([f"`{col}`" for col in df.columns])
    sql = f"INSERT INTO {table_name} ({columns}) VALUES ({placeholders})"
    cursor.execute(sql, tuple(df.iloc[i]))

myconnection.commit()

In [21]:
import pandas as pd
import pymysql

# Establish connection
myconnection = pymysql.connect(
    host='127.0.0.1',
    user='root',
    passwd='Sudha16@$',
    database='redbus'
)

# Read CSV file
df = pd.read_csv("C:/Users/SUDHA/Downloads/punjab_buses.csv")

# Drop rows with missing values
df = df.dropna()

# Generate SQL column definitions from DataFrame dtypes
a = ",".join(
    f"`{i}` {j}".replace("float64", "FLOAT")
               .replace("category", "TEXT")
               .replace("int64", "INT")
               .replace("object", "TEXT")
               .replace("bool", "TEXT")
    for i, j in zip(df.columns, df.dtypes)
)

# Table name
table_name = "punjab_buses"

# Create table
cursor = myconnection.cursor()
cursor.execute(f"CREATE TABLE IF NOT EXISTS {table_name} ({a})")

# Insert data into the table
for i in range(len(df)):
    placeholders = ", ".join(["%s"] * len(df.columns))
    columns = ", ".join([f"`{col}`" for col in df.columns])
    sql = f"INSERT INTO {table_name} ({columns}) VALUES ({placeholders})"
    cursor.execute(sql, tuple(df.iloc[i]))

myconnection.commit()

In [23]:
import pandas as pd
import pymysql

# Establish connection
myconnection = pymysql.connect(
    host='127.0.0.1',
    user='root',
    passwd='Sudha16@$',
    database='redbus'
)

# Read CSV file
df = pd.read_csv("C:/Users/SUDHA/Downloads/TSRTC bus details.csv")

# Drop rows with missing values
df = df.dropna()

# Generate SQL column definitions from DataFrame dtypes
a = ",".join(
    f"`{i}` {j}".replace("float64", "FLOAT")
               .replace("category", "TEXT")
               .replace("int64", "INT")
               .replace("object", "TEXT")
               .replace("bool", "TEXT")
    for i, j in zip(df.columns, df.dtypes)
)

# Table name
table_name = "TSRTC_bus_details"

# Create table
cursor = myconnection.cursor()
cursor.execute(f"CREATE TABLE IF NOT EXISTS {table_name} ({a})")

# Insert data into the table
for i in range(len(df)):
    placeholders = ", ".join(["%s"] * len(df.columns))
    columns = ", ".join([f"`{col}`" for col in df.columns])
    sql = f"INSERT INTO {table_name} ({columns}) VALUES ({placeholders})"
    cursor.execute(sql, tuple(df.iloc[i]))

myconnection.commit()

In [24]:
import pandas as pd
import pymysql

# Establish connection
myconnection = pymysql.connect(
    host='127.0.0.1',
    user='root',
    passwd='Sudha16@$',
    database='redbus'
)

# Read CSV file
df = pd.read_csv("C:/Users/SUDHA/Downloads/wbstc_bus_details.csv")

# Drop rows with missing values
df = df.dropna()

# Generate SQL column definitions from DataFrame dtypes
a = ",".join(
    f"`{i}` {j}".replace("float64", "FLOAT")
               .replace("category", "TEXT")
               .replace("int64", "INT")
               .replace("object", "TEXT")
               .replace("bool", "TEXT")
    for i, j in zip(df.columns, df.dtypes)
)

# Table name
table_name = "wbstc_bus_details"

# Create table
cursor = myconnection.cursor()
cursor.execute(f"CREATE TABLE IF NOT EXISTS {table_name} ({a})")

# Insert data into the table
for i in range(len(df)):
    placeholders = ", ".join(["%s"] * len(df.columns))
    columns = ", ".join([f"`{col}`" for col in df.columns])
    sql = f"INSERT INTO {table_name} ({columns}) VALUES ({placeholders})"
    cursor.execute(sql, tuple(df.iloc[i]))

myconnection.commit()

In [25]:
import pandas as pd
import pymysql

# Establish connection
myconnection = pymysql.connect(
    host='127.0.0.1',
    user='root',
    passwd='Sudha16@$',
    database='redbus'
)

# Read CSV file
df = pd.read_csv("C:/Users/SUDHA/Downloads/wbtc_bus_details.csv")

# Drop rows with missing values
df = df.dropna()

# Generate SQL column definitions from DataFrame dtypes
a = ",".join(
    f"`{i}` {j}".replace("float64", "FLOAT")
               .replace("category", "TEXT")
               .replace("int64", "INT")
               .replace("object", "TEXT")
               .replace("bool", "TEXT")
    for i, j in zip(df.columns, df.dtypes)
)

# Table name
table_name = "wbtc_bus_details"

# Create table
cursor = myconnection.cursor()
cursor.execute(f"CREATE TABLE IF NOT EXISTS {table_name} ({a})")

# Insert data into the table
for i in range(len(df)):
    placeholders = ", ".join(["%s"] * len(df.columns))
    columns = ", ".join([f"`{col}`" for col in df.columns])
    sql = f"INSERT INTO {table_name} ({columns}) VALUES ({placeholders})"
    cursor.execute(sql, tuple(df.iloc[i]))

myconnection.commit()